[submodule "backend"]
	path = backend
	url = https://github.com/leekaize/supOS-bedrock-backend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/leekaize/supOS-bedrock-frontend.git
